@{
    ViewData["Title"] = "Lava Rápido Sapo Boi";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Trabalhamos com os melhores produtos para deixar seu veículo limpo e com brilho da fabrica!</p>

<address>
    <strong> Maiores informações: </strong> <a href="https://i.gifer.com/UHpu.gif">Clique aqui!</a>
</address>